body{
    background-color: blue;
}
.nav>ul{
    display: flex;
    text-decoration: none;
    direction: none;
    color: white;
    list-style-type: none;
    
    
    
}
.nav>ul>li{
    margin-left: 60px;
}